<footer>
    <div class="footer-pay">
        <h5>{{ "Nos moyens de paiements"|trans }}</h5>
        <div class="footer-icon">
            <i class="fa fa-cc-amex" style="font-size:32px; color:white"></i>
            <i class="fa fa-cc-mastercard" style="font-size:32px; color:white"></i>
            <i class="fa fa-cc-visa" style="font-size:32px; color:white"></i>
            <i class="fa fa-cc-discover" style="font-size:32px; color:white"></i>
            <i class="fa fa-cc-jcb" style="font-size:32px; color:white"></i>
            <i class="fa fa-cc-paypal" style="font-size:32px; color:white"></i>
        </div>
    </div>

    <div class="footer-infos">
        <div class="col-md-12 footer-infos-bloc">
            <div class="col-md-6">
                <div class="footer-infos-bloc-social">
                    <h5>{{ "Suivez-nous"|trans }}</h5>
                    <div class="footer-icon">
                        <i class="fa fa-facebook-square" style="font-size:32px; color:white"></i>
                        <i class="fa fa-twitter-square" style="font-size:32px; color:white"></i>
                        <i class="fa fa-google-plus-square" style="font-size:32px; color:white"></i>
                        <i class="fa fa-instagram" style="font-size:32px; color:white"></i>
                        <i class="fa fa-pinterest" style="font-size:32px; color:white"></i>
                        <i class="fa fa-rss-square" style="font-size:32px; color:white"></i>
                    </div>
                </div>
                <div class="footer-infos-bloc-newsletter">
                    <h5>{{ "Abonnez-vous à notre Newsletter"|trans }}</h5>
                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">

                            </div>
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-success">{{ "Valider"|trans }}</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-6 footer-infos-bloc-adresse">

                <div class="col-md-6 footer-infos-bloc-adresse-texte">
                    <div>
                        <h5>{{ "Musée du Louvre"|trans }}</h5>
                        <p>Rue de Rivoli<br>75001 Paris<br>Tél. : 01 40 20 50 50<br>Mail : contact@email.com</p>
                        <p>{{ "Ouverture"|trans }}:
                            <br>{{ "Lundi"|trans }} : 9 h - 18 h
                            <br>{{ "Mardi"|trans }} : {{ "Fermé"|trans }}
                            <br>{{ "Mercredi"|trans }} : 9 h - 21h45
                            <br>{{ "Jeudi"|trans }} : 9 h - 18 h
                            <br>{{ "Vendredi"|trans }} : 9 h - 21h45
                            <br>{{ "Samedi et Dimanche"|trans }} : 9 h - 18 h</p>
                    </div>


                </div>

                <div class="col-md-6 footer-infos-bloc-adresse-map">
                    <img src="{{ asset('lib/img/le_louvre_map.png') }}"/>
                </div>

            </div>

        </div>
    </div>

</footer>