
<footer>
    <div class="footer-pay">
        <p class="footer-pay-title">Nos moyens de paiements</p>
        <div class="footer-pay-picto">
            <img src="{{ asset('lib/img/american.svg') }}" />
            <img src="{{ asset('lib/img/mastercard.svg') }}" />
            <img src="{{ asset('lib/img/visa.svg') }}" />
        </div>
    </div>

    <div class="footer-infos">
        <div class="col-md-12 footer-infos-bloc">
            <div class="col-md-6">
                <div class="footer-infos-bloc-social">
                    <h5>Suivez-nous</h5>
                    <div class="footer-pay-picto">
                        <img src="{{ asset('lib/img/american.svg') }}" />
                        <img src="{{ asset('lib/img/mastercard.svg') }}" />
                        <img src="{{ asset('lib/img/visa.svg') }}" />
                        <img src="{{ asset('lib/img/visa.svg') }}" />
                    </div>
                </div>
                <div class="footer-infos-bloc-newsletter">
                    <h5>Abonnez-vous à notre Newsletter</h5>
                    <form class="form">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">

                            </div>
                            <div class="form-group col-md-4">
                                <button type="submit" class="btn btn-success">Valider</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-6 footer-infos-bloc-adresse">

                <div class="col-md-6 footer-infos-bloc-adresse-texte">
                    <div>
                        <h5>Musée du Louvre</h5>
                        <p>Rue de Rivoli<br>75001 Paris<br>Tél. : 01 40 20 50 50</p>
                        <p>Ouverture:
                            <br>Lundi : 9 h - 18 h
                            <br>Mardi : Fermé
                            <br>Mercredi : 9 h - 21h45
                            <br>Jeudi : 9 h - 18 h
                            <br>Vendredi : 9 h - 21h45
                            <br>Samedi et Dimanche : 9 h - 18 h</p>
                    </div>


                </div>

                <div class="col-md-6 footer-infos-bloc-adresse-map">
                    <img src="{{ asset('lib/img/le_louvre_map.png') }}"/>
                </div>

            </div>

        </div>
    </div>

</footer>