<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Billeterie du Louvre" content="">
    <meta name="Guillaume Pruvost" content="">

    <title>{% block title %}{{ "Billetterie Louvre Paris"|trans }}{% endblock %}</title>

    <!-- JS Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('lib/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('lib/css/billeterie.css') }}"/>
    <link rel="stylesheet" href="{{  asset('lib/flags/flags.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
    {% endblock %}


</head>

<body>

{# Header #}
{{ include("header-layout.html.twig") }}

<div class="container-billeterie">

    {# Content #}
    <div class="row row-form-posts">

        <div class="col-md-12">
            <h1 class="my-4 text-center">{{ "BILLETERIE"|trans }}</h1>
        </div>
        <div class="col-md-12 text-center bloc-boutons-widget">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#purchaseModal">
                {{ "COMMANDE EN COURS"|trans }}
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#priceModal">
                {{ "TARIFICATION"|trans }}
            </button>
        </div>

        {# Modals #}
        <!-- Commande -->
        <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="purchaseModalLabel">COMMANDE EN COURS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            <table class="table tab-order">
                                {% for id, summary in summaries.details %}
                                    <tr>
                                        <td id="smartphone-tab-order-qt-{{ id }}"
                                            class="tab-order-left">{{ summary.quantity }}</td>
                                        <td id="smartphone-tab-order-multiplicator-{{ id }}" class="tab-order-left">x</td>
                                        <td id="smartphone-tab-order-title-{{ id }}"
                                            class="tab-order-left">  {{ "tarif"|trans }} {{ id|trans }}</td>
                                        <td id="smartphone-tab-order-price-{{ id }}"
                                            class="tab-order-right">{{ summary.price }} €
                                        </td>
                                    </tr>

                                {% endfor %}
                            </table>
                            <table class="table tab-order-total">
                                <tr class="tab-order-total-ttc">
                                    <td class="tab-order-left">{{ "TOTAL"|trans }} TTC</td>
                                    <td id="smartphone-tab-order-total"
                                        class="tab-order-right">{{ summaries.total }} €</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Commande -->
        <!-- Tarifs -->
        <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="priceModalLabel">TARIFICATION</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-lg-12">
                            {{ render(controller("OCLouvreBundle:Widget:widgetPrice")) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin Tarifs -->
        {# Fin Modals #}


        {% block body %}
        {% endblock %}

        <!-- Widget -->
        {#<div class="col-md-4 bloc-widget">
            <!-- COMMANDE -->
            <div class="card widget-order">
                <h5 class="card-header text-center widget-order-title">{{ "COMMANDE EN COURS"|trans }}</h5>
                <div class="card-body widget-order-content">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ render(controller("OCLouvreBundle:Widget:widgetPurchase")) }}
                        </div>
                    </div>
                </div>
            </div>#}

        <div class="col-md-4 bloc-widget">
            {% block widgetpurchase %}
            {% endblock %}

            <!-- TARIFS -->
            <div class="card my-4 widget-prices">
                <h5 class="card-header text-center widget-prices-title">{{ "TARIFICATION"|trans }}</h5>
                <div class="card-body widget-prices-content">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ render(controller("OCLouvreBundle:Widget:widgetPrice")) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN TARIFS -->
        </div>
        <!-- Fin Widget -->

    </div>
    {# Fin Content #}

</div>


{# Footer #}
{{ include("footer-layout.html.twig") }}

<!-- JavaScript -->
<script src="{{ asset('lib/js/jquery.js') }}"></script>
<script src="{{ asset('lib/js/bootstrap.min.js') }}"></script>
{% block scripts %}
{% endblock %}

</body>
</html>