{% extends "/layout.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('lib/datepicker/css/bootstrap-datepicker3.min.css') }}"/>
{% endblock %}


{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">{{ "Réserver un billet"|trans }}</h2>
                {% if errors is defined %}
                    {% for error in errors %}
                        <div class="alert alert-danger text-center" role="alert">
                            {{ error.message|trans }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% for message in app.flashes('info') %}
                    <div class="alert alert-danger text-center">
                        {{ message }}
                    </div>
                {% endfor %}


                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.bookingdate) }}
                        {{ form_errors(form.bookingdate) }}
                        {{ form_widget(form.bookingdate) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.tickettype) }}
                        <div class="form-group col-md-12">
                            {{ form_errors(form.tickettype) }}
                            {{ form_widget(form.tickettype) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(form.ticketnumber) }}
                        {{ form_errors(form.ticketnumber) }}
                        {{ form_widget(form.ticketnumber) }}
                    </div>
                </div>

                <div class="tags"
                     data-prototype="{% filter escape %}{% include '@OCLouvre/Louvre/form/bookingForm.html.twig' with {'form': (form.tickets.vars.prototype)|e} %}{% endfilter %}">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_widget(form.btoken) }}
                    </div>
                </div>

                <div class="form-posts-btn-valid text-center">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save, {'attr' : {'class':'btn-success'}}) }}
                </div>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block widgetpurchase %}
    <!-- COMMANDE -->
    <div class="card widget-order">
        <h5 class="card-header text-center widget-order-title">{{ "COMMANDE EN COURS"|trans }}</h5>
        <div class="card-body widget-order-content">
            <div class="row">
                <div class="col-lg-12">
                    <div id="booking-current-order" class="col-sm-12"
                         data-create-url="{{ path('oc_louvre_currentorder') }}">
                        <table class="table tab-order">
                            {% for id, summary in summaries.details %}

                                <tr>
                                    <td id="computer-tab-order-qt-{{ id }}"
                                        class="tab-order-left">{{ summary.quantity }}</td>
                                    <td id="computer-tab-order-multiplicator-{{ id }}" class="tab-order-left">x</td>
                                    <td id="computer-tab-order-title-{{ id }}"
                                        class="tab-order-left">  {{ "tarif"|trans }} {{ id|trans }}</td>
                                    <td id="computer-tab-order-price-{{ id }}"
                                        class="tab-order-right">{{ summary.price }} €
                                    </td>
                                </tr>

                            {% endfor %}
                        </table>

                        <table class="table tab-order-total">
                            <tr class="tab-order-total-ttc">
                                <td class="tab-order-left">{{ "TOTAL"|trans }} TTC</td>
                                <td id="computer-tab-order-total"
                                    class="tab-order-right">{{ summaries.total }} €</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN COMMANDE -->
{% endblock %}


{% block scripts %}
    <script src="{{ asset('lib/js/louvre.js') }}"></script>
    <script src="{{ asset('lib/datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('lib/datepicker/locales/bootstrap-datepicker.fr.min.js') }}"></script>
{% endblock %}

