{% extends "/layout.html.twig" %}
{% block stylesheets %}
    {% stylesheets 'lib/datepicker/css/bootstrap-datepicker3.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}


{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">Réserver un billet</h2>
                {% for error in errors %}
                <div class="alert alert-danger text-center" role="alert">
                        {{ error.message }}
                </div>
                {% endfor %}

                {{ form_start(form) }}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.bookingdate) }}
                        {{ form_errors(form.bookingdate) }}
                        {{ form_widget(form.bookingdate) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.tickettype) }}
                        <div class="form-group col-md-12">
                            {{ form_errors(form.tickettype) }}
                            {{ form_widget(form.tickettype) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(form.ticketnumber) }}
                        {{ form_errors(form.ticketnumber) }}
                        {{ form_widget(form.ticketnumber) }}
                    </div>
                </div>

                <div class="tags"
                     data-prototype="{% filter escape %}{% include '@OCLouvre/Louvre/form/bookingForm.html.twig' with {'form': (form.ttickets.vars.prototype)|e} %}{% endfilter %}">
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_widget(form.btoken) }}
                    </div>
                </div>

                <div class="form-posts-btn-valid text-center">
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                </div>

                {{ form_widget(form._token) }}

                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dates = ["2018-05-09", "2018-05-10", "2018-05-11", "2018-05-12", "2018-05-13"];
    </script>
{% endblock %}

{% block scripts %}
    {% javascripts
        '@js'
        'lib/js/louvre.js'
        'lib/datepicker/js/bootstrap-datepicker.js'
        'lib/datepicker/locales/bootstrap-datepicker.fr.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

