{% extends "/layout.html.twig" %}
{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('lib/css/stripe-module.css') }}"/>
{% endblock %}

{% block title %}{{ "Paiement"|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">{{ "paiement"|trans }}</h2>
                {% if error is defined %}
                    <div class="alert alert-danger text-center" role="alert">
                        {{ error }}
                    </div>
                {% endif %}

                {% for message in app.flashes('infostripe') %}
                    <div class="alert alert-secondary text-center">
                        {{ message }}
                    </div>
                {% endfor %}


                {% if success == true %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sucess-message text-center">
                                <img src="{{ asset('lib/img/coche_valid.png') }}"/>
                                <p>{{ "Merci pour votre commande"|trans }}</p>
                            </div>
                            <div class="text-center">
                                <p>{{ "Un email contenant vos e-billets vient de vous être envoyer"|trans }}</p>
                                <p>{{ "Si vous n'avez rien reçu, merci de vérifier dans vos courriers indésirables
                                    ou de nous contacter au 01 40 20 50 50 en précisant le numéro de commande suivant :"|trans }}</p>
                                <p>{{ booking.btoken }}</p>
                            </div>
                        </div>
                    </div>


                {% else %}

                    <div class="wrapper">
                        <form action="{{ path('oc_louvre_payment', { 'btoken': booking.btoken }) }}" method="post"
                              id="payment-form">
                            <div class="form-row inline">
                                <div class="col">
                                    <label for="name">
                                        {{ "Nom"|trans }}
                                    </label>
                                    <input id="name" name="name" placeholder="Jane Doe" required>
                                </div>
                                <div class="col">
                                    <label for="email">
                                        {{ "Adresse email"|trans }}
                                    </label>
                                    <input id="email" name="email" type="email" placeholder="jane.doe@example.com"
                                           required>
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="card-element">
                                    {{ "Carte de crédit"|trans }}
                                </label>
                                <div id="card-element">
                                    <!-- A Stripe Element will be inserted here. -->
                                </div>

                                <!-- Used to display form errors. -->
                                <div id="card-errors" role="alert"></div>
                            </div>

                            <button>{{ "Payer"|trans }}</button>
                        </form>
                    </div>

                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}

{% block widgetpurchase %}
    <!-- COMMANDE EN COURS -->
    {{ include("@OCLouvre/Louvre/widgetPurchase.html.twig") }}
{% endblock %}


{% block scripts %}
    <script src="{{ asset('lib/js/stripe-module.js') }}" data-rel-js></script>
{% endblock %}
