{% extends "/layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block title %}Commande - {{ parent() }}{% endblock %}

{% block body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- RECAPITULATIF -->
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">{{ "Détail de la commande"|trans }}</h2>



                <div class="row">
                    <div class="col-lg-12">
                        <table class="table tab-summary-ticket">

                            {% for id, summary in summaries.details %}
                                {% if summary.quantity > 0 %}
                                    <tr>
                                        {% if summary.quantity == 1 %}
                                            <td class="tab-summary-ticket">{{ summary.quantity }} {{ "ticket tarif"|trans }}
                                                {{ id|trans }} {{ bookingtype|trans }} - {{ "Musée du Louvre Paris"|trans }}
                                            </td>
                                        {% else %}
                                            <td class="tab-summary-ticket">{{ summary.quantity }} {{ "tickets tarif"|trans }} {{ id|trans }} {{ bookingtype|trans }} - {{ "Musée du Louvre Paris"|trans }}
                                            </td>
                                        {% endif %}
                                        <td class="tab-summary-ticket">{{ summary.price }} ttc</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        </table>
                        <table class="table tab-summary-total">
                            <tr>
                                <td>{{ "TOTAL"|trans }} T.T.C. {{ summaries.total }} €</td>
                            </tr>
                            <tr>
                                <td>
                                    <a class="btn btn-dark btn-booking-modif"
                                       href="{{ path('oc_louvre_homepage') }}">Annuler</a>
                                    <a class="btn btn-success btn-booking-valid"
                                       href="{{ path('oc_louvre_payment', { 'btoken': booking.btoken } ) }}">Payer</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- FIN RECAPITULATIF -->

    </div>
{% endblock %}

{% block widgetpurchase %}
    <!-- COMMANDE EN COURS -->
    {{ include("@OCLouvre/Louvre/widgetPurchase.html.twig") }}
{% endblock %}


{% block scripts %}
{% endblock %}


