<div class="card widget-order">
    <h5 class="card-header text-center widget-order-title">{{ "COMMANDE EN COURS"|trans }}</h5>
    <div class="card-body widget-order-content">
        <div class="row">
            <div class="col-lg-12">

                <table class="table tab-order">
                    {% for id, summary in summaries.details %}

                        <tr>
                            <td id="computer-tab-order-qt-{{ id }}"
                                class="tab-order-left">{{ summary.quantity }}</td>
                            <td id="computer-tab-order-multiplicator-{{ id }}" class="tab-order-left">x</td>
                            <td id="computer-tab-order-title-{{ id }}"
                                class="computer-tab-order-left">  {{ "tarif"|trans }} {{ id|trans }}</td>
                            <td id="computer-tab-order-price-{{ id }}"
                                class="tab-order-right">{{ summary.price }} €
                            </td>
                        </tr>

                    {% endfor %}
                </table>

                <table class="table tab-order-total">
                    <tr class="tab-order-total-ttc">
                        <td class="tab-order-left">{{ "TOTAL"|trans }} TTC</td>
                        <td id="computer-tab-order-total"
                            class="tab-order-right">{{ summaries.total }} €</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>