<div class="card widget-order">
    <h5 class="card-header text-center widget-order-title">{{ "COMMANDE EN COURS"|trans }}</h5>
    <div class="card-body widget-order-content">
        <div class="row">
            <div class="col-lg-12">

                <table class="table tab-order">
                    {% for summary in summaries.details %}

                            <tr>
                                    <td id="tab-order-qt-free" class="tab-order-left">{{ summary.quantity }}</td>
                                    <td id="tab-order-multiplicator" class="tab-order-left">x</td>
                                    <td id="tab-order-title-free" class="tab-order-left">  {{ "tarif"|trans }} {{ summary.id|trans }}</td>
                                    <td id="tab-order-price-free" class="tab-order-right">{{ summary.price }} €</td>
                            </tr>

                    {% endfor %}
                </table>

                <table class="table tab-order-total">
                    <tr class="tab-order-total-ttc">
                        <td id="tab-order-total-title-ttc" class="tab-order-left">{{ "TOTAL"|trans }} TTC</td>
                        <td id="tab-order-total-price-ttc" class="tab-order-right">{{ summaries.total }} €</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>