{% extends "@OCLouvre/layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block ocaccueil_body %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card ">
            <div class="card-body">
                <h2 class="card-title text-center">Réserver un billet</h2>
                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_label(form.bookingdate) }}
                        {{ form_errors(form.bookingdate) }}
                        {{ form_widget(form.bookingdate) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.tickettype) }}
                        <div class="form-group col-md-12">
                            {{ form_errors(form.tickettype) }}
                            {{ form_widget(form.tickettype) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form_label(form.ticketnumber) }}
                        {{ form_errors(form.ticketnumber) }}
                        {{ form_widget(form.ticketnumber) }}
                    </div>
                </div>


                <div id="ticket-fields-list"
                     data-prototype="{{ form_widget(form.tickets.vars.prototype)|e }}"
                     data-widget-tags="{{ '<div class="form-posts"></div>'|e }}">

                    {% for ticketField in form.tickets %}
                        <div class="form-posts">
                            <h2 class="card-title form-posts-title">Billet</h2>
                            <hr/>
                            {{ form_errors(ticketField) }}
                            {{ form_widget(ticketField) }}
                        </div>
                    {% endfor %}
                </div>

                <a href="#"
                   class="add-another-collection-widget" data-list="#ticket-fields-list">Ajouter un billet</a>

                {{ form_end(form) }}


            </div>
        </div>
    </div>
    <script type="text/javascript">
        var dates = ["2018-05-09", "2018-05-10", "2018-05-11", "2018-05-12", "2018-05-13"];
    </script>



{% endblock %}

